<p>
  <% if logged_in? -%>
  You are logged in as <%= h current_user.login %>. <%= link_to "Logout", logout_path %>.
  <% else -%>
    <%= link_to "Login", login_path %>
  <% end -%>
</p>

<p>
  <h3>Rooms</h3>
  <ul>
    <% Room.all.each do |room| %>
      <li><%= link_to h(room.name), room %></li>
    <% end -%>
  </ul>
</p>

<% unless @room.nil? -%>
  <p>
    <h3>People</h3>
    <ul>
      <% @room.users.each do |user| -%>
        <li><%= h user.login %></li>
      <% end -%>
    </ul>
  </p>
<% end -%>
