<h1>Rooms</h1>

<ul class="rooms">
  <% @rooms.each do |room| %>
    <li class="room">
      <h2>
        <%= link_to room.name, room %>
        <% if room.messages.any? -%>
          <span class="meta">
            last message <%= time_ago_in_words room.last_message.created_at %> 
            ago by <%= h room.last_message.user.login %>
          </span>
        <% end -%>
      </h2>
      <%=h room.subject %> 
      <% if room.users.any? -%>
        <div class="meta">Present: <%= room.users.collect! {|user| h(user.login)}.join(", ") %></div>
      <% end -%>
      <% if room.destroyable? -%>
        <div class="controls">
          <%= link_to('Destroy', room, :confirm => 'Are you sure?', 
                                       :method => :delete)  %>
        </div>
      <% end -%>
    </li>
  <% end %>
</ul>

<% if logged_in? -%>
  <%= link_to 'New room', new_room_path %>
<% end -%>
