<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
      <title>Collaboratuer</title>
      <%= stylesheet_link_tag "styles"%>
      <%= javascript_include_tag "jquery", "jquery.hotkeys" %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header"><%= link_to "Collaboratuer", "/" %></div>
      <div id="container">
        <div id="content">
          <%= flash[:notice] %>
          <%= @content_for_layout %>
        </div>
        <div id="sidebar"><%= render :partial => 'shared/sidebar' %></div>
        <div class="clear"></div>
      </div>
      <div id="footer">Built by Panera Productions</div>
    </div>
  </body>
</html>
